@charset "UTF-8";
 body {
        background-image: linear-gradient(to bottom, #cc1a1a 5%, #129d05, #0c0b0b, #d6f236);
        background-attachment: fixed;
        margin: 0px 20px;
        /*margin-left: 20px;*/
        padding-left: 0px;
        }
    main {
        padding-top: 40px;
    }
    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 50PX; 
        color: #ecfc11;
    }
    h2 {
        color: #ecfc11;
        font-family: Arial, Helvetica, sans-serif;
    }
    .titulo {
        text-shadow: 2px 2px 3px rgb(21, 19, 19);
    }
    p {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        padding: 3px 0;
        line-height: 1.5;
        text-align: justify;
    }
    .itens {
        display: block;/* faz os links ocuparem a linha toda */
        text-decoration: none;/* remove o sublinhado */
        color: white;
        padding: 3px 0;/* espaçamento vertical */
    }
    a.itens:hover {
        color: #ff9800;
        transform: translateY(-3px); /* sobe 3px */
        }
    a.titulo {
        text-decoration: none;
        
    }
    a.titulo:hover {
        color: #ff9800;
        transform: translateY(-3px);
    }
    img.girar {
        transform: rotate(90deg);
    }
    .botao {
        margin: 10px; /* espaço ao redor do botão */
        padding: 8px 12px; /* aumenta o tamanho interno */
        cursor: pointer;
        border-radius: 10px;
        color: white;
        background-color: #363a2f;
    }
    .galeria {
        text-align: center; /* Centraliza tudo dentro do main */
    }
    #slide {
        border: 4px solid #555;       /* cor e espessura da borda */
        border-radius: 10px;          /* cantos arredondados */
        padding: 3px;                 /* espaço entre a imagem e a borda */
        box-shadow: 0 4px 12px rgba(10, 9, 9, 0.72); /* sombra leve */
        background-color: #2c2a2a; 
        transition: transform 0.5s, opacity 0.5s; /* transição suave */
    }
    footer {
        text-align: center;
        font-size: 11px;
        padding-top: 60px;
    }